@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');


.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #F7958E;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #F7958E;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }


.red-timer-icon {
  background: red;
  border-radius: 15px;
  padding: 5px;
}

.save-btn {
  background: green;
  border-radius: 15px;
  padding: 5px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: 60%;
  width: 100%;
  text-align: center;
}

.watch-count-timer {
}

.task-timer {
  position: relative;
  text-align: center;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

