
<div class="task-timer">
  <div [class.hidden]="!datePickerOpen">
    <ng-datepicker [(ngModel)]="date">
    </ng-datepicker>
    <div class="date-actions">
      <button class="input-box green-btn" (click)="saveTaskDate()">Set Date</button>
      <button class="input-box red-btn" (click)="closeDatePopup()">
        <fa-icon [icon]="['fas', 'window-close']" size="2x"></fa-icon>
      </button>
    </div>
  </div>
  <div [class.hidden]="datePickerOpen" class="timer">
    <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(110,110)">
        <circle r="100" class="e-c-base"></circle>
        <g transform="rotate(-90)">
          <circle r="100" class="e-c-progress" style="stroke-dasharray: 628.319; stroke-dashoffset: -1256.64;"></circle>
          <g id="e-pointer" style="transform: rotate(360deg);">
            <circle cx="100" cy="0" r="8" class="e-c-pointer"></circle>
          </g>
        </g>
      </g>
    </svg>

    <div class="timer-inner">
      <div class="add-time">
        <input type="text" mask="00:00" class="input-box" [(ngModel)]="time">
      </div>
      <div class="red-timer-icon">
        <fa-icon [icon]="['fas', 'clock']" size="3x"></fa-icon>
      </div>
      <div [class.hide]="!checkForChange()" class="save-btn" (click)="saveTask()">
        <fa-icon [icon]="['fas', 'check']" size="3x"></fa-icon>
      </div>
    </div>

    <div>
      <button class="input-box" (click)="openDatePicker()">
      <span style="float: left">
        Add Time
      </span>
        <span style="float: right">
        <fa-icon [icon]="['fas', 'clock']" size="2x"></fa-icon>
      </span>
      </button>
    </div>
  </div>
</div>
