.main {
  background: rgba(80,78,78,0.58);
  margin: 0 auto;
  padding: 10px;
  color: white;
  font-family: verdana, serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


.hide {
  opacity: 0;
}


.input-box {
  outline: 0;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 1.2pt;
  font-family: verdana, serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
