<div class="dashboard">
  <div class="tasks-header">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" height="24"
           preserveAspectRatio="xMinYMin" class="icon__icon">
        <path
          d="M2 0h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm12 0h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 12h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2zM2 12h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2z"></path>
      </svg>
      <span style="margin-left: 10px">
        {{username}}
      </span>
    </div>
    <div class="right-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="24" height="24"
           preserveAspectRatio="xMinYMin" class="icon__icon">
        <path
          d="M4 0h9a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 8h9a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0-4h9a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM1 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
      </svg>
    </div>
  </div>
  <div>
    <input [(ngModel)]="taskName"
           class="input-box"
           type="text"
           placeholder="Type task name"/>
  </div>
  <app-task-add-timer [time]="timeToAdd"
                      [date]="dateToAdd"
                      [taskName]="taskName"
                      (save)="addTask()"></app-task-add-timer>
</div>
