<div class="dashboard">
  <div class="tasks-header">
    <div>
      <fa-icon [icon]="['fas', 'th']" size="2x"></fa-icon>
      <span class="username">
        {{username}}
      </span>
    </div>
    <div class="right-icon">
      <fa-icon [icon]="['fas', 'list-ul']" size="2x"></fa-icon>
    </div>
  </div>
  <div>
    <input [formControl]="taskName"
           class="input-box"
           type="text"
           placeholder="Type task name"/>
  </div>
  <app-task-add-timer [taskName]="taskName"
                      (save)="addTask()"></app-task-add-timer>
</div>
